#### Transforms examples

* The two obvious perspectives to this data are "resource" and "customer / user" perspective. 
    * It makes sense to model these separately as they are different use cases and slightly different requirements
        * Both are demonstrated below
    * User id has a high cardinality, so we do daily aggregation

In [42]:

import duckdb
duckdb.sql(
"""
WITH currency_exchange AS (
    SELECT 
        'EUR' AS currency, 
        1.00 AS from_eur, 
        1.00 AS to_eur
    UNION ALL 
    SELECT 'USD', 1.108984, 0.901726
    UNION ALL
    SELECT 'JPY', 164.658011, 0.006073
),
aggs AS (
    SELECT
        DATE_TRUNC('hour', timestamp) AS dt,
        region,
        service_tier,
        operation_type,
        resource_type,

        /* The credits do seem to be credits and not monetary cost
            However, as a nice exercise lets do a "conversion" */
        SUM(-credit_usage * to_eur) AS spend,
        
        SUM(-credit_usage) AS credit_usage,

        SUM(success) AS successful_operations,
        COUNT(*) AS operations,

        /* note that these two cannot be summed so not true facts */
        COUNT(DISTINCT user_id) AS distinct_users,
        COUNT(DISTINCT resource_id) AS distinct_resources

    FROM '../../../../../data/billing.csv'
    LEFT JOIN currency_exchange
    USING(currency)
    GROUP BY
        dt,
        region,
        service_tier,
        operation_type,
        resource_type
)
SELECT * FROM aggs
"""
)

┌─────────────────────┬─────────┬──────────────┬────────────────┬───────────────┬────────────────────┬────────────────────┬───────────────────────┬────────────┬────────────────┬────────────────────┐
│         dt          │ region  │ service_tier │ operation_type │ resource_type │       spend        │    credit_usage    │ successful_operations │ operations │ distinct_users │ distinct_resources │
│      timestamp      │ varchar │   varchar    │    varchar     │    varchar    │       double       │       double       │        int128         │   int64    │     int64      │       int64        │
├─────────────────────┼─────────┼──────────────┼────────────────┼───────────────┼────────────────────┼────────────────────┼───────────────────────┼────────────┼────────────────┼────────────────────┤
│ 2025-05-01 02:00:00 │ us-chi1 │ enterprise   │ write          │ container     │      5372.17043826 │  8999.880000000001 │                   174 │        188 │            186 │                188 │
│ 2025-05-01 15:00:00 │ fi-hel1 │ basic        │ read           │ db            │ 5079.8664015800005 │            8613.41 │                   169 │        181 │            179 │                181 │
│ 2025-05-01 19:00:00 │ jp-tok1 │ enterprise   │ read           │ vm            │ 5808.0945369500005 │           10045.07 │                   191 │        199 │            198 │                199 │
│ 2025-05-01 07:00:00 │ us-chi1 │ pro          │ compute        │ function      │      6654.50195334 │           10193.16 │                   198 │        211 │            206 │                211 │
│ 2025-05-01 22:00:00 │ fi-hel2 │ pro          │ compute        │ vm            │  5928.225614700001 │            9906.45 │                   185 │        193 │            190 │                193 │
│ 2025-05-01 07:00:00 │ pl-waw1 │ pro          │ read           │ function      │      5388.39270382 │            8549.59 │                   168 │        174 │            169 │                174 │
│ 2025-05-01 14:00:00 │ fi-hel2 │ basic        │ storage        │ container     │      6401.23559198 │ 10686.410000000002 │                   208 │        218 │            215 │                218 │
│ 2025-05-01 19:00:00 │ pl-waw1 │ basic        │ storage        │ container     │ 6026.9599703700005 │            9255.75 │                   195 │        201 │            201 │                201 │
│ 2025-05-01 12:00:00 │ de-fra1 │ enterprise   │ read           │ function      │ 7139.9262477600005 │            11715.9 │                   209 │        221 │            218 │                221 │
│ 2025-05-01 16:00:00 │ fi-hel1 │ basic        │ read           │ function      │  6105.996784769999 │ 10108.529999999999 │                   192 │        206 │            203 │                206 │
│          ·          │    ·    │   ·          │  ·             │ ·             │          ·         │               ·    │                    ·  │         ·  │             ·  │                 ·  │
│          ·          │    ·    │   ·          │  ·             │ ·             │          ·         │               ·    │                    ·  │         ·  │             ·  │                 ·  │
│          ·          │    ·    │   ·          │  ·             │ ·             │          ·         │               ·    │                    ·  │         ·  │             ·  │                 ·  │
│ 2025-05-01 14:00:00 │ jp-tok1 │ enterprise   │ read           │ db            │  5804.924079060001 │            9542.43 │                   187 │        195 │            194 │                195 │
│ 2025-05-01 08:00:00 │ fi-hel2 │ free         │ compute        │ db            │  6718.512943740001 │           10394.85 │                   190 │        197 │            194 │                197 │
│ 2025-05-01 11:00:00 │ fi-hel1 │ pro          │ read           │ function      │      6552.36854688 │ 10129.109999999999 │                   184 │        194 │            190 │                194 │
│ 2025-05-01 05:00:00 │ us-chi1 │ pro          │ read           │ db            │  5030.675397370001 │            8445.73 │                   171 │        180 │            177 │                180 │
│ 2025-05-01 19:00:00 │ jp-tok1 │ enterprise   │ read           │ db            │       6082.2910283 │  9823.849999999999 │                   191 │        202 │            200 │                202 │
│ 2025-05-01 06:00:00 │ de-fra1 │ basic        │ compute        │ function      │  7375.259452440001 │ 11060.940000000002 │                   182 │        200 │            199 │                200 │
│ 2025-05-01 18:00:00 │ fi-hel2 │ free         │ storage        │ vm            │  6633.599032940001 │           10438.67 │                   189 │        198 │            197 │                198 │
│ 2025-05-01 13:00:00 │ pl-waw1 │ enterprise   │ write          │ function      │      5329.59366838 │            9353.71 │                   162 │        178 │            178 │                178 │
│ 2025-05-01 21:00:00 │ jp-tok1 │ pro          │ read           │ vm            │  6281.682076550001 │            9630.05 │                   186 │        196 │            194 │                196 │
│ 2025-05-01 10:00:00 │ jp-tok1 │ free         │ compute        │ db            │      6747.03829685 │  9595.910000000002 │                   186 │        196 │            195 │                196 │
├─────────────────────┴─────────┴──────────────┴────────────────┴───────────────┴────────────────────┴────────────────────┴───────────────────────┴────────────┴────────────────┴────────────────────┤
│ 9216 rows (20 shown)                                                                                                                                                                    11 columns │
└────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

Second we have the user perspective.

I have included user_dims as a sample of creating some user specific dimensions from the existing data, I don't know whether any of these could even be relevant

In [ ]:
duckdb.sql(
"""
WITH user_dims AS (
    SELECT 
        MIN(timestamp) AS first_seen,
        MAX(timestamp) AS last_seen,

        /* Generally these I guess could be created bi-side but leaving them here for convenience */
        CURRENT_LOCALTIMESTAMP() - MIN(timestamp) AS user_age,
        CURRENT_LOCALTIMESTAMP() - MAX(timestamp) AS since_last_visit,
        user_id
    FROM '../../../../../data/billing.csv'
    GROUP BY user_id
),
aggs AS (
    SELECT
        CAST(timestamp AS DATE) AS date,
        user_id,
        first_seen,
        last_seen,
        user_age,
        since_last_visit,
        
        /* Some of these could be pre-pivoted for convenience
          depending on use case. However, seems pretty sparse */
        service_tier,
        operation_type,
        resource_type,

        SUM(-credit_usage) AS credit_usage,
        SUM(success) AS successful_operations,
        COUNT(*) AS operations,

        /* note that cannot be summed so not true facts */
        COUNT(DISTINCT resource_id) AS distinct_resources

    FROM '../../../../../data/billing.csv'
    LEFT JOIN user_dims
    USING(user_id)
    GROUP BY
        date,
        user_id,
        first_seen,
        last_seen,
        user_age,
        since_last_visit,
        region,
        service_tier,
        operation_type,
        resource_type,
)
SELECT * FROM aggs
""")

┌────────────┬─────────┬─────────────────────┬─────────────────────┬──────────────────────┬──────────────────────┬──────────────┬────────────────┬───────────────┬───────────────────┬───────────────────────┬────────────┬────────────────────┐
│    date    │ user_id │     first_seen      │      last_seen      │       user_age       │   since_last_visit   │ service_tier │ operation_type │ resource_type │   credit_usage    │ successful_operations │ operations │ distinct_resources │
│    date    │  int64  │      timestamp      │      timestamp      │       interval       │       interval       │   varchar    │    varchar     │    varchar    │      double       │        int128         │   int64    │       int64        │
├────────────┼─────────┼─────────────────────┼─────────────────────┼──────────────────────┼──────────────────────┼──────────────┼────────────────┼───────────────┼───────────────────┼───────────────────────┼────────────┼────────────────────┤
│ 2025-05-01 │   19840 │ 2025-05-01 00:26:15 │ 2025-05-01 23:52:45 │ 11 days 22:25:22.733 │ 10 days 22:58:52.733 │ free         │ read           │ function      │             92.98 │                     1 │          1 │                  1 │
│ 2025-05-01 │   15637 │ 2025-05-01 00:05:57 │ 2025-05-01 23:56:44 │ 11 days 22:45:40.733 │ 10 days 22:54:53.733 │ pro          │ read           │ db            │            126.88 │                     1 │          2 │                  2 │
│ 2025-05-01 │   17580 │ 2025-05-01 00:05:00 │ 2025-05-01 23:27:58 │ 11 days 22:46:37.733 │ 10 days 23:23:39.733 │ pro          │ storage        │ container     │            142.94 │                     3 │          3 │                  3 │
│ 2025-05-01 │   19931 │ 2025-05-01 00:02:56 │ 2025-05-01 23:55:52 │ 11 days 22:48:41.733 │ 10 days 22:55:45.733 │ pro          │ read           │ container     │             16.92 │                     1 │          1 │                  1 │
│ 2025-05-01 │   13809 │ 2025-05-01 00:03:47 │ 2025-05-01 23:49:56 │ 11 days 22:47:50.733 │ 10 days 23:01:41.733 │ free         │ storage        │ db            │             39.29 │                     1 │          1 │                  1 │
│ 2025-05-01 │   16067 │ 2025-05-01 00:03:24 │ 2025-05-01 23:57:18 │ 11 days 22:48:13.733 │ 10 days 22:54:19.733 │ free         │ storage        │ function      │             85.33 │                     1 │          1 │                  1 │
│ 2025-05-01 │   12794 │ 2025-05-01 00:00:53 │ 2025-05-01 23:44:49 │ 11 days 22:50:44.733 │ 10 days 23:06:48.733 │ free         │ compute        │ db            │              1.54 │                     1 │          1 │                  1 │
│ 2025-05-01 │   15974 │ 2025-05-01 00:01:49 │ 2025-05-01 23:55:40 │ 11 days 22:49:48.733 │ 10 days 22:55:57.733 │ basic        │ compute        │ db            │             42.98 │                     1 │          1 │                  1 │
│ 2025-05-01 │   17593 │ 2025-05-01 00:00:31 │ 2025-05-01 23:58:28 │ 11 days 22:51:06.733 │ 10 days 22:53:09.733 │ free         │ write          │ vm            │ 85.52000000000001 │                     2 │          2 │                  2 │
│ 2025-05-01 │   12159 │ 2025-05-01 00:06:21 │ 2025-05-01 23:53:37 │ 11 days 22:45:16.733 │ 10 days 22:58:00.733 │ free         │ compute        │ function      │             25.43 │                     1 │          1 │                  1 │
│     ·      │     ·   │          ·          │          ·          │          ·           │          ·           │  ·           │    ·           │    ·          │               ·   │                     · │          · │                  · │
│     ·      │     ·   │          ·          │          ·          │          ·           │          ·           │  ·           │    ·           │    ·          │               ·   │                     · │          · │                  · │
│     ·      │     ·   │          ·          │          ·          │          ·           │          ·           │  ·           │    ·           │    ·          │               ·   │                     · │          · │                  · │
│ 2025-05-01 │   16780 │ 2025-05-01 00:16:50 │ 2025-05-01 23:58:31 │ 11 days 22:34:47.733 │ 10 days 22:53:06.733 │ basic        │ compute        │ function      │            147.59 │                     1 │          2 │                  2 │
│ 2025-05-01 │   18861 │ 2025-05-01 00:02:47 │ 2025-05-01 23:46:15 │ 11 days 22:48:50.733 │ 10 days 23:05:22.733 │ basic        │ storage        │ function      │            168.63 │                     2 │          2 │                  2 │
│ 2025-05-01 │   17998 │ 2025-05-01 00:00:12 │ 2025-05-01 23:59:39 │ 11 days 22:51:25.733 │ 10 days 22:51:58.733 │ basic        │ compute        │ db            │            195.74 │                     2 │          2 │                  2 │
│ 2025-05-01 │   14852 │ 2025-05-01 00:07:02 │ 2025-05-01 23:58:50 │ 11 days 22:44:35.733 │ 10 days 22:52:47.733 │ pro          │ storage        │ db            │            162.27 │                     3 │          3 │                  3 │
│ 2025-05-01 │   15874 │ 2025-05-01 00:32:15 │ 2025-05-01 23:43:14 │ 11 days 22:19:22.733 │ 10 days 23:08:23.733 │ free         │ read           │ function      │             56.29 │                     2 │          2 │                  2 │
│ 2025-05-01 │   17339 │ 2025-05-01 00:21:11 │ 2025-05-01 23:31:30 │ 11 days 22:30:26.733 │ 10 days 23:20:07.733 │ free         │ storage        │ db            │              5.27 │                     1 │          1 │                  1 │
│ 2025-05-01 │   18054 │ 2025-05-01 00:00:06 │ 2025-05-01 23:56:27 │ 11 days 22:51:31.733 │ 10 days 22:55:10.733 │ basic        │ storage        │ db            │             37.47 │                     1 │          1 │                  1 │
│ 2025-05-01 │   12758 │ 2025-05-01 00:17:12 │ 2025-05-01 23:54:57 │ 11 days 22:34:25.733 │ 10 days 22:56:40.733 │ free         │ compute        │ vm            │             13.86 │                     2 │          2 │                  2 │
│ 2025-05-01 │   19193 │ 2025-05-01 00:03:10 │ 2025-05-01 23:43:26 │ 11 days 22:48:27.733 │ 10 days 23:08:11.733 │ pro          │ compute        │ function      │             44.96 │                     1 │          1 │                  1 │
│ 2025-05-01 │   10933 │ 2025-05-01 00:06:04 │ 2025-05-01 23:33:30 │ 11 days 22:45:33.733 │ 10 days 23:18:07.733 │ enterprise   │ read           │ container     │             85.51 │                     1 │          1 │                  1 │
├────────────┴─────────┴─────────────────────┴─────────────────────┴──────────────────────┴──────────────────────┴──────────────┴────────────────┴───────────────┴───────────────────┴───────────────────────┴────────────┴────────────────────┤
│ ? rows (>9999 rows, 20 shown)                                                                                                                                                                                                     13 columns │
└──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

I was also thinking of modeling e.g. usage tier as a slowly changing dimension of user, but this does not seem to be a holistic user "plan" but rather resource dependent.
Leaving it here as an exercise still.

In [33]:
duckdb.sql("""   
    WITH ranked_tiers AS (
  SELECT
    user_id,
    service_tier,
    timestamp,
    ROW_NUMBER() OVER (PARTITION BY user_id, service_tier ORDER BY timestamp) AS rn,
    LAG(timestamp) OVER (PARTITION BY user_id ORDER BY timestamp) AS prev_ts,
    LEAD(timestamp) OVER (PARTITION BY user_id ORDER BY timestamp) AS next_ts
  FROM '../../../../../data/billing.csv'
),
deduped_changes AS (
  SELECT
    user_id,
    service_tier,
    timestamp AS valid_from,
    next_ts AS valid_to,
    CASE WHEN next_ts IS NULL THEN true ELSE false END AS is_current
  FROM (
    SELECT *,
           LAG(service_tier) OVER (PARTITION BY user_id ORDER BY timestamp) AS prev_tier
    FROM ranked_tiers
  ) t
  WHERE prev_tier IS DISTINCT FROM service_tier  -- only include real changes
     OR prev_tier IS NULL                         -- include the first state
)
SELECT * FROM deduped_changes ORDER BY user_id, valid_from
""")

┌─────────┬──────────────┬─────────────────────┬─────────────────────┬────────────┐
│ user_id │ service_tier │     valid_from      │      valid_to       │ is_current │
│  int64  │   varchar    │      timestamp      │      timestamp      │  boolean   │
├─────────┼──────────────┼─────────────────────┼─────────────────────┼────────────┤
│   10000 │ enterprise   │ 2025-05-01 00:19:11 │ 2025-05-01 00:23:49 │ false      │
│   10000 │ basic        │ 2025-05-01 00:32:06 │ 2025-05-01 00:50:26 │ false      │
│   10000 │ free         │ 2025-05-01 00:50:26 │ 2025-05-01 01:06:05 │ false      │
│   10000 │ pro          │ 2025-05-01 01:06:05 │ 2025-05-01 01:09:33 │ false      │
│   10000 │ basic        │ 2025-05-01 01:09:33 │ 2025-05-01 01:13:28 │ false      │
│   10000 │ enterprise   │ 2025-05-01 01:13:28 │ 2025-05-01 01:13:40 │ false      │
│   10000 │ free         │ 2025-05-01 01:27:40 │ 2025-05-01 01:28:30 │ false      │
│   10000 │ enterprise   │ 2025-05-01 01:28:30 │ 2025-05-01 01:36:14 │ false      │
│   10000 │ basic        │ 2025-05-01 01:36:14 │ 2025-05-01 01:56:28 │ false      │
│   10000 │ free         │ 2025-05-01 02:01:22 │ 2025-05-01 02:01:36 │ false      │
│     ·   │  ·           │          ·          │          ·          │   ·        │
│     ·   │  ·           │          ·          │          ·          │   ·        │
│     ·   │  ·           │          ·          │          ·          │   ·        │
│   10071 │ enterprise   │ 2025-05-01 22:16:18 │ 2025-05-01 22:41:59 │ false      │
│   10071 │ pro          │ 2025-05-01 22:41:59 │ 2025-05-01 22:46:12 │ false      │
│   10071 │ free         │ 2025-05-01 22:46:12 │ 2025-05-01 23:06:06 │ false      │
│   10071 │ pro          │ 2025-05-01 23:06:06 │ 2025-05-01 23:15:59 │ false      │
│   10071 │ free         │ 2025-05-01 23:15:59 │ 2025-05-01 23:16:42 │ false      │
│   10071 │ basic        │ 2025-05-01 23:49:56 │ 2025-05-01 23:56:32 │ false      │
│   10071 │ free         │ 2025-05-01 23:56:32 │ NULL                │ true       │
│   10072 │ basic        │ 2025-05-01 00:03:10 │ 2025-05-01 00:25:46 │ false      │
│   10072 │ free         │ 2025-05-01 00:25:46 │ 2025-05-01 00:27:36 │ false      │
│   10072 │ enterprise   │ 2025-05-01 00:27:36 │ 2025-05-01 00:31:43 │ false      │
├─────────┴──────────────┴─────────────────────┴─────────────────────┴────────────┤
│ ? rows (>9999 rows, 20 shown)                                         5 columns │
└─────────────────────────────────────────────────────────────────────────────────┘